.hide {
    display: none;
}

.show {
    display: all;
}
#begin-screen {
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
    border: 2px solid cornflowerblue 
}
#ques-screen {
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
    border: 2px solid rgb(189, 102, 174)
}

body {
    background-color: black;
    height: 100%;
}
h1 {
    padding: 20px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h2 {
    padding: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#start-button {
    background-color: cornflowerblue;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    box-sizing: border-box;
    border-radius: 4px;
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
p {
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}
.option.option {
    background-color: rgb(98, 131, 192);
    border-radius: 4px;
    font-size: 18px;
    height: 60px;
    width: 370px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: white;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

